header,
footer {
	margin: 1rem 3rem;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	border-radius: 3px;
	background: #e0e0e0;
	box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
	background-color: rgba(224, 224, 224, 0.537254902);
	backdrop-filter: blur(3px);
}
h1 {
	text-shadow: 3px 3px 6px #cecece;
}
