* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Playfair Display;
	src: url("./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
	font-family: Poppins;
	src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

body {
	background-color: #e0e0e0;
	color: rgb(36, 35, 35);
	font-family: Poppins;
}
